* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
}

body {
    font-size: 16px;
    background-color: #f6f8fa;
}

.align_center {
    display: flex;
    align-items: center;
}

a {
    font-size: inherit;
    font-weight: 500;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
